<!doctype html>
<html class="no-js core no-flexbox" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{#if description}}<meta name="description" content="{{description}}"/>{{/if}}
    {{#is type "home" }}<style>{{> homeheadstyles}}</style>{{/is}}
    {{#is type "home" }}<link rel="prefetch" href="{{assets}}/prism-custom.min.js">{{/is}}
    {{#is type "home" }}<link rel="prefetch" href="{{assets}}/prefixed/style.min.css">{{/is}}
    {{#is type "page" }}<style>{{> critical-css}}</style>{{/is}}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="author" href="https://plus.google.com/+BramdeHaan/posts">
    <script>{{> head-detect-js}}</script>
 {{#is type "page" }}<script>{{> load-css-js}} loadCSS( "{{assets}}/prefixed/style.min.css" );</script>{{/is}}
{{#is type "page" }}<noscript><link href="{{assets}}/prefixed/style.min.css" rel="stylesheet"></noscript>{{/is}}
</head>
<body>
{{> body }}
{{#is id "id-01" }}<script>{{> script-id-01-js}}</script>{{/is}}
{{#is id "id-02" }}<script>{{> script-id-02-js}}</script>{{/is}}
{{#is id "id-03" }}<script>{{> script-id-03-js}}</script>{{/is}}
{{#is id "id-04" }}<script>{{> script-id-04-js}}</script>{{/is}}
{{#is id "id-05" }}<script>{{> script-id-05-js}}</script>{{/is}}
{{#is id "id-06" }}<script>{{> script-id-06-js}}</script>{{/is}}
{{#is type "page" }}<script>{{> insert-svg-js}}</script>{{/is}}
{{#is type "page" }}<script defer src="{{assets}}/prism-custom.min.js"></script>{{/is}}
</body>
</html>
